.label {
    /*-fx-background-color: linear-gradient(to bottom right, #00ffbf, #00ddff);*/
    /*-fx-background-color: rgba(0, 0, 0, 0.5) !* Black with opacity of 0.5 *!*/
    -fx-background-color: #2b2c2f;
    -fx-text-fill: #e6e6e6;
    -fx-background-radius: 12px 12px 0 12px;
    -fx-padding: 8px 14px;
    -fx-border-radius: 12px 12px 0 12px;
    -fx-border-insets: 0px 8px 0px 7px;
    -fx-background-insets: 0px 8px 0px 7px;
}

.reply-label {
    -fx-background-color: #1f6b63;
    -fx-text-fill: #e6e6e6;
    -fx-background-radius: 0px 12px 12px 12px;
    -fx-padding: 8px 14px;
    -fx-border-radius: 12px 12px 0 12px;
    -fx-border-insets: 0px 8px 0px 7px;
    -fx-background-insets: 0px 8px 0px 7px;
}

.add-label {
    -fx-background-color: #274b3b;
}

.marked-label {
    -fx-background-color: #2e573c;
}

.delete-label {
    -fx-background-color: #5b2b31;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

